<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a th:href="@{/users/create}">Create User</a>

<table border="1px" cellpadding="10px">
    <tr>
        <th>username</th>
        <th>name:</th>
        <th>address</th>
        <th>phone number:</th>
        <th>avatar:</th>
<!--        <th>List song</th>-->
    </tr>
    <tr th:each="u: ${users}">
        <td th:text="${u.username}"></td>
        <td th:text="${u.name}"></td>
        <td th:text="${u.address}"></td>
        <td th:text="${u.phoneNumber}"></td>
        <td> <img th:src="@{${u.getImg()}}" width="100" height="100"/></td>
<!--        <td th:text="${u.songs}"></td>-->
        <td><a th:href="@{'/users/edit/' + ${u.id}}">Edit</a></td>
        <td><a th:href="@{'/users/delete/' + ${u.id}}">Delete</a></td>
    </tr>

</table>
</body>
</html>