<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/songs/create}" th:object="${song}" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <th>name</th>
            <th>singer:</th>
            <th>producer</th>
            <th>description:</th>
            <th>media</th>

        </tr>
        <tr>
            <td><input type="text" th:field="*{name}"/></td>
            <td><input type="text" th:field="*{singer}"/></td>
            <td><input type="text" th:field="*{producer}"/></td>
            <td><input type="text" th:field="*{description}"/></td>
            <td><input type="file" th:field="*{mp3}"/></td>

        </tr>
        <tr>
            <td>
                <input type="submit" value="save"/>
            </td>
        </tr>
    </table>
</form>

</body>
</html>