<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/songs/create}">Create Song</a>

<table border="1px" cellpadding="10px">
    <tr>
        <th>playlist Name</th>
        <th>Image</th>
        <th>name</th>
        <th>singer:</th>
        <th>producer</th>
        <th>description:</th>
        <th>Action</th>

    </tr>
    <tr th:each="s: ${songs}">
        <td th:text="${s.playlistName}"></td>
        <td><img th:src="@{${s.getLinkImg()}}" width="100px" height="100px"/></td>
        <td th:text="${s.getName()}"></td>
        <td th:text="${s.getSinger()}"></td>
        <td th:text="${s.getProducer()}"></td>
        <td th:text="${s.getDescription()}"></td>
        <td><audio controls="controls" th:src="@{${s.getLinkMp3()}}"></audio></td>

        <td><a th:href="@{'/songs/edit/' + ${s.getId()}}">Edit</a></td>
        <td><a th:href="@{'/songs/delete/' + ${s.getId()}}">Delete</a></td>
    </tr>

</table>

</body>
</html>